PORT=4000
MONGODB_URI=mongodb+srv://user:pass@cluster/?retryWrites=true&w=majority
MONGODB_DB=molfi
MOLFI_RPC_URL=https://testnet.hsk.xyz
MOLFI_CHAIN_ID=133
MOLFI_CONTRACTS_DIR=../molfi-contracts
PRIVATE_KEY=0xYOUR_KEEPER_ADMIN_KEY
PINATA_JWT=
